.x-item-wrapper {
	margin: 0;
	> .x-form-item-control {
		position: relative;
		flex: 1;
		width: 1px;
		&[data-type="Switch"] {
			min-width: 48px;
			.x-item_switch {
				height: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}

		.x-checkbox-wrapper {
			outline: 1px solid red;
			display: flex;
			align-items: center;
			.x-checkbox {
				top: unset;
			}
		}

		.x-input-number {
			width: 100%;
		}

		.x-radio-group,
		.x-checkbox {
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	.x-form-item-explain.x-form-item-explain-error {
		color: #ff4d4f;
	}
}

.xItem_readonly {
	overflow: auto;
}
