.xInfoDiffCard-value {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.xInfoDiffCard-delta {
	text-decoration: line-through;
}
.xInfoDiffCard-left-value {
	background: #ffbbbb;
}
.xInfoDiffCard-right-value {
	background: #bbffbb;
}
